<div class="topic-stream center-block">
    <ul class="nav nav-tabs nav-justified">
        <li class="active"><a href="javascript:;">最新树洞</a></li>
        <li class=""><a href="{{ url_for('api.user_by_time') }}">活跃用户</a></li>
    </ul>
    <div class="topic-list list-group">
        <div class="list-group-item" href="">
            <h4>Title</h4>
            <p>Content</p>
        </div>
        <div class="list-group-item" href="">
            <h4>Title</h4>
            <p>Content</p>
        </div>
    </div>
</div>
