<div class="topic-stream center-block">
    <ul class="nav nav-tabs nav-justified">
        <li class="active"><a href="javascript:;">最新树洞</a></li>
        <li class=""><a href="{{ url_for('api.user_by_time') }}">活跃用户</a></li>
    </ul>
    <div class="topic-list list-group">
        {% for topic in topics %}
        <div class="list-group-item">
            <p>{{ topic.content }}</p>
            <div class="toolbar clearfix text-muted">
                <small class="pull-left">
                    回复({{ topic.reply.count() }})
                    <span class="js-like" data-url="{{ url_for('api.topic_like', topic_id=topic.id) }}">
                        {% if topic.id in liked_id_list %}
                        取消赞
                        {% else %}
                        赞
                        {% endif %}
                        ({{ topic.up }})
                    </span>
                </small>
                <small class="pull-right">{{ topic.account.profile.screen_name }} 发布于 <time class="timeago" datetime="{{ topic.created }}"></time></small>
                <div class="clearfix"></div>
                <ul class="list-group reply-list">
                    {% for reply in topic.reply %}
                    <li class="list-group-item">
                        {{ reply.content }} <small class="pull-right">{{ reply.account.profile.screen_name }} 回复于 <time class="timeago" datetime="{{ reply.created }}"></time></small>
                    </li>
                    {% endfor %}
                </ul>
                <div class="reply-form">
                    <form role="form" action="{{ url_for('api.topic_reply', topic_id=topic.id) }}" method="post">
                        <textarea class="form-control pull-left" name="reply"></textarea>
                        <button class="btn btn-primary pull-right" type="submit">回复</button>
                    </form>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
