<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=egde">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/whuhole.css" media="all">
    <title>{% if site_name %} {{ site_name }} {% else %} 首页 {% endif %}&middot; {{ config.SITE_TITLE }}</title>
</head>
<body>
    <div class="header">
        {% include "snippets/nav.html" %}
    </div>
    <div class="container">
        <div class="wrap center-block">
            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
            <div class="flashes">
                {% for cate, msg in messages %}
                <p class="alert alert-{{ cate }}"> {{ msg }} </p>
                {% endfor %}
            </div>
            {% endif %}
            {% endwith %}
            {% block main%}
            {% endblock %}
        </div>
    </div>
    <div class="footer">
        <div class="inner-footer">
            <small>武大树洞 2014</small>
        </div>
    </div>
    <script src="/static/whuhole.js"></script>
    <script>
        require('whuhole');
    </script>
</body>
</html>
