html,
body {
  margin: 0;
  padding: 0;
}
a {
  color: #009fda;
}
.inner-nav,
.main {
  max-width: 980px;
  margin: 0 auto;
}
.main {
  margin-top: 20px;
}
.fn-hide {
  display: none;
}
.reply-input {
  min-width: 50em;
  max-width: 200em;
}
.reply-area {
  top: 1em;
}
.ui.pointing.label.reply-area:before {
  left: 6em;
}
